#body {
    background-color: #555;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding: 2px;
    background-color: #4d0500;
    box-sizing: border-box;
}
.title {
    color: #FFc800;
    margin: 0px;
    float: left;
    font-weight: bold;
    font-size: large;
    align-self: center;
}
.icon-display {
    display: flex;
    flex-direction: row-reverse;
    float: right;
}
.header-icons {
    color: #777;
    background-color: inherit;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}
.header-icons:hover {
    transform: rotate(30deg);
    color: #bbb;
}

#main-display {
    display: flex;
    width: 100%;
    height: calc(100% - 35px);
    background-color: inherit;
    padding: 0px;
}
.user-text-block {
    width: 50%;
    background-color: #222;
    padding: 6px
}
.user-text-wrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#user-text {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Consolas', Courier, monospace;
    font-size: smaller;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
}

.render-block {
    width: 50%;
    background-color: #333;
    padding: 6px
}
#render-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border-width: 20px;
    overflow-y: auto;
}
#render-display {
    background-color: none;
    color: black;
    font-size: smaller;
    padding: 4px;
    box-sizing: border-box;
}
.scroll-placeholder {
    height: 180px;
    overflow-y: auto;
}


#debug-box {
    right: 0;
    bottom: 0;
    position: absolute;
    color: red;
    background-color: #ccc;
    margin: 1.5%;
    opacity: 0.96;
    font-size: 12px;
    border-radius: 2px;
    display: none;
}

#settings-window {
    top: 0;
    left: 0;
    margin-left: calc(50vw - 250px);
    margin-top: calc(50vh - 150px);
    width: 500px;
    height: 300px;
    position: absolute;
    background-color: aqua;
    display: none;
}