#body {
    background-color: #555;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding: 2px;
    background-color: #660000;
    box-sizing: border-box;
}
.title {
    color: #FFDE66;
    margin-left: 3px;
    float: left;
    font-weight: bold;
    font-size: large;
    align-self: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.icon-display {
    display: flex;
    flex-direction: row-reverse;
    float: right;
}
.header-icons {
    color: #777;
    background-color: inherit;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    border: none;
}
.header-icons:hover {
    transform: rotate(30deg);
    color: #bbb;
}
.header-icons:focus {
    outline: none
}

#main-display {
    display: flex;
    width: 100%;
    height: calc(100% - 35px);
    background-color: inherit;
    padding: 0px;
}
.user-text-block {
    width: 50%;
    background-color: #222;
    padding: 6px
}
.user-text-wrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#user-text {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Consolas', Courier, monospace;
    font-size: smaller;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
}

.render-block {
    width: 50%;
    background-color: #333;
    padding: 6px;
}
#render-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    overflow-y: auto;
}
#render-display {
    background-color: none;
    color: black;
    font-size: smaller;
    padding: 4px;
    box-sizing: border-box;
}
.scroll-placeholder {
    height: 180px;
    overflow-y: auto;
}


#debug-box {
    right: 0;
    bottom: 0;
    position: absolute;
    color: red;
    background-color: #ccc;
    margin: 1.5%;
    opacity: 0.96;
    font-size: 12px;
    border-radius: 2px;
    display: none;
}

#settings-window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: #333;
    color: #DDD;
    border-radius: 5px;
    z-index: 2;
}
#settings-window label {
    font-size: small;
}
#saturation-reducer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #555;
    opacity: .8;
    z-index: 1;
}
#settings-tab-panel {
    color: #FFE380;
    width: 100px;
    background-color: #440000;
    padding: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 0px;
}
.line {
    background-color: #FFE380;
    height: 0.1px;
    border-style: none;
}
.settings-tab-panel-title {
    margin-top: 15px;
    margin-bottom: 0px;
}
#settings-tab-panel button {
    font-size: xx-small;
    font-stretch: ultra-expanded;
    margin: 0px;
    color: #FFE380;
    background-color: inherit;
    border-style: none;
}
#settings-tab-panel button:hover {
    cursor: pointer;
}
#settings-main {
    padding: 6px;
    width: 350px
}
#close-settings {
    display: flex;
    flex-direction: column;
    float: right;
    size: auto;
    margin: 5px;
}
#close-settings-button {
    cursor: pointer;
    border-style: none;
    background-color: inherit;
    color: #DDD;
}
#close-settings-button:hover {
    transition: 0.2s;
    color: #AAA;
}
#close-settings p {
    font-weight: bold;
    margin: 0;
    font-size: xx-small;
    align-self: center;
}
.settings-section {
    padding: 4px;
}
#settings-display-section {
    display: none
}